@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Poppins:wght@300&display=swap');

:root {
    --color-white: aliceblue;
    --color-dark1: #272727;
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-orange1: #F4511F;
    --color-dark4: #061418;
    --color-dark5: #343434;
    --color-purple: #b040ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-style: normal;

    height: 100vh;
    background-color: var(--color-dark4);

    display: grid;
    grid-template-areas:
        "header"
        "swiper";
    grid-template-rows: 80px 900px;

}

/*CSS HEADER*/
.header,
.navigation_header {
    background-color: var(--color-dark1);
    display: flex;
    grid-area: header;
    flex-direction: row;
    align-items: center;
}

.header {
    box-shadow: 1px 1px 4px var(--color-dark3);
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.navigation_header a {
    text-decoration: none;
    color: var(--color-white);
    transition: 1s;
}

.active {
    background-color: var(--color-orange1);
    padding: 10px;
    border-radius: 2em;
}

.btn_icon_header {
    display: none;
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .btn_icon_header {
        display: block;
    }

    .navigation_header {
        position: fixed;
        flex-direction: column;
        top: 0;
        background-color: var(--color-dark1);
        box-shadow: 1px 1px 4px var(--color-dark3);
        height: 50%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }
}

@keyframes showSidebar {
    from {
        margin-left: -100vw;
    }

    top {
        margin-left: -10vw;
    }
}

.text_logo {
    margin-right: 58%;
    color: var(--color-white);
}

.img_logo_header {
    width: 24px;
    height: 24px;

    background: url(logo.png);

}

/*FIM - CSS HEADER*/

/*CSS - SWIPER E INÍCIO*/
.swiper {
    width: 100%;
    grid-area: swiper;
}

.swiper-wrapper {
    width: 100%;
    height: 45em;
    display: flex;
    align-items: center;
}

.card {
    width: 25em;
    height: 90%;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
    padding: 2em 1em;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 0 2em;
}

.swiper-slide:not(.swiper-slide-active) {
    filter: blur(2px)
}

.card_image {
    width: 20em;
    height: 20em;
    border-radius: 50%;
}

.card_image img {
    width: 100%;
    height: 100%;
}

.card_content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_title {
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    top: .2em;
}

.card_name {
    color: var(--color-orange1);
}

.card_text {
    text-align: center;
    font-size: 1.1rem;
    margin: 1em 0;
}

.card_btn {
    background-color: var(--color-orange1);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .5em;
    border-radius: .5em;
    margin-top: .5em;
    cursor: pointer;
}

/*FIM - CSS - SWIPER E INÍCIO*/


.description_offer {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.btn_order {
    background-color: var(--color-orange1);
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    color: var(--color-white);
}

.text_description {
    color: var(--color-white);
    margin-bottom: 10%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    flex-wrap: wrap;
    margin-bottom: 7%;
}

.center img {
    margin-bottom: 15%;
}

.center div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 180px;
    color: var(--color-white);
}



.food_btn {
    display: flex;
    background-color: var(--color-orange1);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .3em;
    border-radius: 4px 4px 12px 4px;
    margin-top: -10%;
    cursor: pointer;
    margin-left: 80%;
}

.foods {
    border-left: 4px solid var(--color-white);
    border-left-width: 4px;
    /* define o tamanho da borda esquerda */
    border-bottom-left-radius: 5px;
    border-top: 2px solid var(--color-white);
    padding: 10px;
    /* adicione um padding para evitar que o conteúdo encoste na borda */
    border-top-left-radius: 60px;
    /* define o raio da curvatura da borda superior esquerda */
    border-bottom-right-radius: 30px;
    /* define o raio da curvatura da borda inferior direita */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    /* adiciona uma transição suave de 0,3 segundos para as propriedades transform e box-shadow */
    background-color: #000;
    background-image: radial-gradient(ellipse at center, #4e4e4e 0%, #000000 100%);
    background-attachment: fixed;
    background-size: cover;
}

.foods:hover {
    transform: scale(1.1);
    /* aumenta a escala da div em 10% ao passar o mouse sobre ela */
    box-shadow: 0px 0px 10px var(--color-orange1);
    /* adiciona uma sombra laranja à div */
}

@media (min-width: 768px) {
    .foods {
        width: 160px;
    }
}

@media (min-width: 992px) {
    .foods {
        width: 350px;
    }
}

@media (min-width: 1200px) {
    .foods {
        width: 350px;
    }
}

.btn_order {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.teste1 {
    display: flex;
    color: var(--color-white);
    justify-content: center;
    align-items: center;

}

.teste1 p {
    margin-left: 5%;
    /* Ajuste o valor conforme necessário */
}

.btn_order1 {
    background-color: var(--color-orange1);
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    color: var(--color-white);
}

.new {
    border: 1px solid var(--color-orange1); 
    background-color: var(--color-orange1); 
    border-radius: 10%; 
    padding: 5px; 
    width: 45%; 
    display: flex; 
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px #333;
  }
  
  .infos {
    color: aliceblue; 
    display: flex; 
    justify-content: space-around; 
    font-size: 35px; 
    gap: 5%; 
    margin-bottom: 5%; 
    flex-direction: row;
  }

    @media only screen and (max-width: 768px) {
    #outros-servicos {
      font-size: 25px;
    }

    .center div {
      width: 45%;
      margin-bottom: -25%;
    }

    .infos {
        margin-bottom: 15%;
        margin-top: 30%;
    }
  }
